$default-phone-margin: 0 5%

@media only screen and (max-width: 568px)
    .overview
        margin: 0 5%

    .content-container
        margin-top: 5rem
        margin-bottom: 0

    nav
        .navbar
            flex-direction: column
            margin: 2rem auto 0
            padding: 0 5%
            .menu
                display: flex
                flex-direction: column
                a
                    font-size: 0.7rem
                    margin-left: 0
                    display: inline
        .language-switch
            margin: 1rem auto
            padding: 0 5%

    .section-intro
        margin: 3rem auto 0
        padding: 0 10%
        p
            padding-right: 0

    .page
        margin: 0 auto
        padding: 4rem 10% 0

    .overview-group
        .text-container
            flex-direction: column-reverse
            div
                &:first-child // title, descr., date
                    a
                        &:nth-child(2)
                            p
                                padding-right: 33%
                &:last-child // = tools
                    justify-content: flex-start
                    p
                        padding-left: 0.5rem
                        &:first-child
                            padding-left: 0

    .project-title
        padding: 1.5rem 5% 0
        .title-and-links
            flex-direction: column-reverse
        p
            padding-top: 0.125rem

    .large-text-container, .headline
        padding: 0 5%

    .headline
        margin: 0
        h2
            margin: 2rem 0 1rem

    .large-text-container
        margin-top: 2rem
        h2
            margin: 2rem 0 1rem

    .two-images
        margin: 0 5%
        flex-direction: column
        div
            width: 100%
            &:first-child
                margin-bottom: 1rem

    .one-image, .caption, .one-image-variant-2
        margin: $default-phone-margin

    .caption
        margin-bottom: 2rem

    .one-image-variant-2
        img
            width: 100%

    .caption-comment
        margin: $default-phone-margin
        p
            width: 100%

    // below: discard
    .grid-two
        grid-template-columns: repeat(1, 1fr)
        .category-top
            width: 100%
            div
                .tools
                    p
                        font-size: 0.8rem
                        margin-left: 0.4rem

    .footer
        font-size: 0.6rem
        padding: 0 25% 1rem

    .back-to-top
        right: 5%
        bottom: 1rem
