body
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif

a
    text-decoration: none
    color: #000

p
    margin: 0
    padding: 0

.page
    font-family: 'Source Sans Pro', sans-serif
    padding: 2.5rem 8rem

.container
    display: block
    margin: auto
    max-width: 1280px

// Navbar
.navbar
    background-color: #fff
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 2.5rem 8rem
    max-width: 1280px
    margin: auto

.wordmark
    font-size: 1.5rem
    letter-spacing: 0.4rem
    font-weight: 200

.menu
    margin-top: 0.5rem
    a
        padding-left: 2rem
        letter-spacing: 0.25rem
        font-size: 0.8rem

// Row with three
.rowwiththree
    padding: 2.5rem 0

.grid-two
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 2rem
    row-gap: 3rem
    .banner-dummy
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 600px
        background-color: #d9d9d9
    .category-top
        div
            display: flex
            justify-content: space-between
            margin-bottom: 0.125rem
            .title
                transition: 0.2s
                cursor: pointer
                &:hover
                    color: #6b6b6b
            .tools
                display: flex
                justify-content: space-between
                // width: 25%
                margin-top: 0.155rem
                p
                    font-size: 0.9rem
                    margin-left: 0.8rem
                    color: #999
                    cursor: pointer
                    transition: 0.2s
                    &:hover
                        color: #6b6b6b
        p
            font-size: 0.75rem
            color: #999
            cursor: default
        img
            display: block
            width: 100%
            margin-top: 0.75rem
            cursor: pointer
