@media only screen and (max-width: 568px)
    .overview
        margin: 0 5%
    .content-container
        margin-top: 7rem
    nav
        .navbar
            flex-direction: column
            margin: 2rem auto 0
            padding: 0 5%
            .menu
                display: flex
                flex-direction: column
                a
                    font-size: 0.7rem
                    margin-left: 0
        .language-switch
            margin: 1rem auto
            padding: 0 10%
    .section-intro
        margin: 3rem auto 0
        padding: 0 10%
        p
            padding-right: 0
    .page
        margin: 0 auto
        padding: 4rem 10% 0
    .grid-two
        grid-template-columns: repeat(1, 1fr)
        .category-top
            width: 100%
            div
                .tools
                    p
                        font-size: 0.8rem
                        margin-left: 0.4rem
    .footer
        font-size: 0.6rem
        padding-bottom: 1rem
