$default-transition: 0.5s
$default-grey: #999
$font-headline: 'Playfair Display', sans-serif
$font-text: 'Source Sans Pro', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')

body
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif

a
    text-decoration: none
    color: #000

p
    margin: 0
    padding: 0

strong
    font-weight: 900

.page-container
    position: relative
    min-height: 100vh

.page
    font-family: 'Source Sans Pro', sans-serif
    // font-family: 'Nunito', sans-serif
    margin: 2.5rem 8rem 0
    padding-bottom: 5rem

.content-container
    display: block
    margin: auto
    max-width: 1280px
    padding-bottom: 9rem
    margin-top: 7rem

.caption
    margin: 0 8rem
    font-family: 'Nunito', sans-serif
    font-size: 0.75rem
    padding-top: 0.33rem

.project-title
    margin: 0 8rem 1.5rem
    padding-top: 0.66rem
    p
        font-family: 'Nunito', sans-serif
        font-size: 0.75rem
        padding-top: 0.33rem
        &:first-child
            font-family: 'Playfair Display', sans-serif
            letter-spacing: 1px
            font-size: 1.2rem
            display: inline-block
            padding-bottom: -0.15rem
            border-bottom: 1px dotted #000
        &:last-child
            color: $default-grey

// NAVBAR
nav
    position: fixed
    top: 0
    left: 0
    width: 100vw
    z-index: 999
    .overlay
        background-color: #dadada
        opacity: 0.2
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .navbar
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 2rem 8rem 0 // was 2.5rem top
        max-width: 1280px
        margin: auto
        .wordmark
            font-size: 1.5rem
            letter-spacing: 0.4rem
            font-weight: 200
            z-index: 99
        .menu
            margin-top: 0.5rem
            z-index: 99
            a
                margin-left: 2rem
                padding-bottom: 0.2rem
                letter-spacing: 0.25rem
                font-size: 0.8rem
                transition: $default-transition
                &:hover
                    color: #777
                    border-bottom: 1px dotted #777
    .language-switch
        padding: 0 8rem 2rem // was 2.5rem
        position: relative
        z-index: 99
        button
            border: none
            background: none
            padding: 0
            font-family: 'Source Sans Pro', sans-serif
            font-size: 0.6rem
            letter-spacing: 0.33rem
            color: #999
            cursor: pointer
            transition: $default-transition
            &:first-child
                margin-right: 1rem
            &:hover
                color: #000

.indicator-active
    color: #999

.indicator-off
    visibility: hidden

// SECTION INTRO
.section-intro
    padding: 1rem 8rem 2rem
    max-width: 1280px
    margin: auto
    font-family: 'Source Sans Pro', sans-serif
    h4
        margin: 0 0 0.5rem 0
    p
        font-size: 0.8rem
        padding-right: 40%

// GRID -- scrap all this
.grid-two
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 6rem
    row-gap: 6rem
    .banner-dummy
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 600px
        background-color: #d9d9d9
        // remove the dummy later
    .category-top
        div
            display: flex
            justify-content: space-between
            margin-bottom: 0.125rem
            .title
                transition: $default-transition
                cursor: pointer
                &:hover
                    color: #8f8f8f
            .tools
                display: flex
                justify-content: space-between
                margin-top: 0.155rem
                p
                    font-size: 0.9rem
                    margin-left: 0.8rem
                    color: #999
                    cursor: pointer
                    transition: $default-transition
                    &:hover
                        color: #6b6b6b
        .item-details
            display: block
            margin-bottom: 0.75rem
            p
                font-size: 0.75rem
                color: #999
                cursor: default
        .img-container
            position: relative
            margin-top: 2rem
            img
                display: absolute
                width: 100%
                z-index: 10
            div
                position: absolute
                width: 100%
                height: 100%
                &:last-child
                    background: #fff
                    opacity: 0
                    z-index: 99
                    transition: $default-transition
                    &:hover
                        opacity: 0.1

// LARGE IMAGE LEFT -- scrap later
.project
    font-family: 'Nunito', sans-serif
    margin: 0 8rem
    h2, h3, h4
        font-family: 'Playfair Display', sans-serif
        letter-spacing: 1px
        margin-top: 0
    p
        margin-bottom: 1rem
        font-size: 0.85rem
        line-height: 1.4
    .project-grid
        margin: 1rem 0 0
        display: grid
        grid-template-columns: 60% 1fr
        column-gap: 6rem
        img
            width: 100%
        .image-caption
            font-size: 0.75rem
            font-weight: lighter
        .project-links
            margin-bottom: 1.5rem
            a
                font-size: 0.8rem
                padding-right: 1rem
            i
                padding-right: 0.33rem

// LARGE TEXT CENTER
.large-text-container
    margin-top: 4rem
    padding: 0 30%
    font-family: 'Nunito', sans-serif
    font-size: 0.9rem
    line-height: 1.4
    .headline
        margin: 4rem 0 2rem
        font-family: 'Playfair Display', serif
        letter-spacing: 1px
        margin-top: 0

// LARGE VIDEO -- remove later if not needed?
.video-container
    display: flex
    justify-content: center
    .large-video
        margin-top: 6rem
        display: flex
        flex-direction: column
        video
            border: 1px solid #000
        p
            font-family: 'Nunito', sans-serif
            font-size: 0.75rem
            font-weight: lighter
            padding-top: 0.33rem

// TWO VIDEOS
.video-2-container
    display: flex
    justify-content: space-between
    margin: 0 auto
    padding: 0 12%
    .small-video
        margin-top: 2rem
        display: flex
        flex-direction: column
        justify-content: space-between
        video
            border: 1px solid #000
        p
            font-family: 'Nunito', sans-serif
            font-size: 0.75rem
            padding-top: 0.33rem

// THREE IMAGES
.three-images
    display: flex
    align-items: flex-start
    margin: 2rem 8rem 0
    img
        width: 45%
        margin-right: 3rem // was 3rem
        &:nth-child(2)
            width: 22.5%
            margin-right: 6rem // was 6rem
        &:nth-child(3)
            width: 12.5%

.three-images-grid
    display: flex
    align-items: flex-start
    justify-content: space-evenly
    margin: 2rem 8rem 0
    .element
        &:nth-last-child(2)
            margin-right: 1rem
        img
            width: 92%
            &:nth-child(2)
                padding-right: 6rem

// ONE IMAGE
.one-image
    margin: 0 8rem
    border: 1px solid #333
    img
        width: 100%

.one-image-noBorder
    margin: 0 8rem
    img
        width: 100%

.one-image-variant
    margin: 2rem 8rem 0
    display: flex
    justify-content: center
    img
        width: 80%

.one-image-variant-2
    margin: 2rem 8rem 0
    display: flex
    justify-content: center
    img
        border: 1px solid #333
        width: 66%

// TWO IMAGES
.two-images
    display: flex
    justify-content: space-between
    margin: 0 8rem
    div
        width: 47.5%
        img
            width: 100%
            border: 1px solid #333

// IMAGE COLLAGE 1
.image-collage-1
    margin: 4rem 8rem
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-auto-rows: minmax(100px, auto)
    column-gap: 3rem
    row-gap: 2rem
    div
        img
            width: 100%
            display: block
    #item-1
        grid-column: 1 / 3
        grid-row: 1 / 4
    #item-2
        grid-column: 3
        grid-row: 1 / 3
    #item-3
        grid-column: 4
        grid-row: 1 / 3
    #item-4
        grid-column: 1 / 3
        grid-row: 4 / 6
    #item-5
        grid-column: 3 / 5
        grid-row: 3 / 6

.caption-comment
    margin: 0 8rem
    font-family: 'Nunito', sans-serif
    font-size: 0.75rem
    padding-top: 0.33rem
    p
        width: 66%
        margin: auto

// FOOTER
.footer
    position: absolute
    bottom: 0
    width: 100%
    height: 5rem
    padding: 2rem 0 2rem
    font-size: 0.7rem
    color: $default-grey
    text-align: center
    font-family: 'Nunito', sans-serif
    a
        color: $default-grey
        transition: $default-transition
        // text-decoration: underline
        &:hover
            color: #000
    i
        font-size: 1.4rem
        margin: 0 0.2rem
    p
        &:last-child
            margin-top: 1rem

// PARALLAX STYLES
.parallax
    height: 100vh
    overflow-x: hidden
    overflow-y: auto
    perspective: 300px
    z-index: 9999
    margin-top: 7rem
    padding-top: -7rem

    &-group
        position: sticky
        top: 0
        height: 100vh
        transform-style: preserve-3d
        // border-top: 1px dotted #333
        // border-bottom: 1px dotted #333

        &:nth-child(odd)
            // background-color: #f2f2f2
        &:nth-child(even)
            // background-color: #c5c5c5
        &:first-child
            // border: none

    &-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        // background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%)
        // background-position: top
        // background-size: 3px 1px
        // background-repeat: repeat-x
        // border-top: 1px dotted #333
        // border-bottom: 1px dotted #333
        // background-color: #ebebeb

    &-layer-toki
        // transform: translateZ(-50px) scale(1.167)
        // left: -2rem

    &-layer-suda
        // transform: translateZ(100px) scale(0.667)
        z-index: 99
        // opacity: 0.9
        color: #000
        perspective-origin: 33% 50%

    &-layer-back
        // transform: translateZ(-100px) scale(0.9)
        z-index: 98
        opacity: 0.6
        width: 100vw
        color: #000

    &-layer-morita
        // left: -10rem

    &-layer-mishima
        // left: 8rem

    &-inner
        margin: 0 8rem
        position: absolute
        top: 0
        bottom: 0
        min-width: 1000px
        // width: 100vw
        // max-width: 1000px
        background-color: #fff
        // opacity: 0.8
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        // padding: 1rem 2rem 1.5rem
        padding: 1rem 0 1.5rem
        // background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%)
        // background-position: top
        // background-size: 3px 1px
        // background-repeat: repeat-x
        .text-container
            display: flex
            justify-content: space-between
            width: 100%
            margin-top: 0.25rem
            div
                &:first-child
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    padding-bottom: 0.75rem
                    text-align: left
                    .title
                        font-family: $font-headline
                        font-size: 1.2rem
                        letter-spacing: 1px
                        margin: 0 0 0.33rem 0
                    p
                        &:nth-child(2), &:nth-child(3)
                            font-family: $font-text
                            color: $default-grey
                            font-size: 0.75rem
                &:last-child
                    min-width: 300px
                    display: flex
                    flex-direction: row
                    justify-content: flex-end
                    p
                        font-family: $font-text
                        font-size: 0.9rem
                        padding-top: 0.5rem
                        color: $default-grey
                        padding-left: 1rem
                        transition: $default-transition
                        &:hover
                            color: #333
                            cursor: pointer
        .inner-image
            overflow-y: hidden
            max-height: 87.5%
            img
                width: 100%
