body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.page {
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 8rem 0;
  padding-bottom: 5rem;
}

.content-container {
  display: block;
  margin: auto;
  max-width: 1280px;
  padding-bottom: 9rem;
}

.navbar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 8rem 0;
  max-width: 1280px;
  margin: auto;
}

.wordmark {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 200;
}

.menu {
  margin-top: 0.5rem;
}
.menu a {
  padding-left: 2rem;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
}

.language-switch {
  padding: 0 8rem 2.5rem;
}
.language-switch button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.33rem;
  color: #999;
  cursor: pointer;
  transition: 0.5s;
}
.language-switch button:first-child {
  margin-right: 1rem;
}
.language-switch button:hover {
  color: #000;
}

.indicator-active {
  color: #999;
}

.indicator-off {
  color: #fff;
}

.section-intro {
  padding: 1rem 8rem 2rem;
  max-width: 1280px;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
}
.section-intro h4 {
  margin: 0 0 0.5rem 0;
}
.section-intro p {
  font-size: 0.8rem;
  padding-right: 40%;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}
.grid-two .banner-dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: #d9d9d9;
}
.grid-two .category-top div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.125rem;
}
.grid-two .category-top div .title {
  transition: 0.5s;
  cursor: pointer;
}
.grid-two .category-top div .title:hover {
  color: #8f8f8f;
}
.grid-two .category-top div .tools {
  display: flex;
  justify-content: space-between;
  margin-top: 0.155rem;
}
.grid-two .category-top div .tools p {
  font-size: 0.9rem;
  margin-left: 0.8rem;
  color: #999;
  cursor: pointer;
  transition: 0.5s;
}
.grid-two .category-top div .tools p:hover {
  color: #6b6b6b;
}
.grid-two .category-top .item-details {
  display: block;
  margin-bottom: 0.75rem;
}
.grid-two .category-top .item-details p {
  font-size: 0.75rem;
  color: #999;
  cursor: default;
}
.grid-two .category-top .img-container {
  position: relative;
}
.grid-two .category-top .img-container img {
  display: absolute;
  width: 100%;
}
.grid-two .category-top .img-container div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #808080;
  opacity: 0;
  transition: 0.5s;
}
.grid-two .category-top .img-container div:hover {
  opacity: 0.1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding: 2rem 0 2rem;
  font-size: 0.7rem;
  color: #999;
  text-align: center;
}
.footer a {
  color: #999;
  transition: 0.5s;
}
.footer a:hover {
  color: #000;
}
.footer i {
  font-size: 1.4rem;
  margin: 0 0.2rem;
}
.footer p:last-child {
  margin-top: 1rem;
}

/*# sourceMappingURL=App.css.map */
