@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

p, figure {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 900;
}

#pagetop {
  padding-top: 6rem;
  margin-top: -6rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.page {
  font-family: "Archivo", sans-serif;
  margin: 0.66rem 8rem 0;
  padding-bottom: 5rem;
}

.content-container {
  display: block;
  margin: auto;
  max-width: 1600px;
  padding-bottom: 9rem;
  padding-top: 6rem;
}

.caption {
  margin: 0 8rem;
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  padding-top: 0.33rem;
}

.caption-no-margin {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
}

.not-found {
  font-family: "Archivo", sans-serif;
  margin: 2rem 8rem 0;
  padding-bottom: 5rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}
nav .overlay {
  background-color: #dadada;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav section {
  width: inherit;
  max-width: 1600px;
  margin: auto;
}
nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 8rem 0;
}
nav .navbar .wordmark {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 200;
  z-index: 99;
}
nav .navbar .menu {
  margin-top: 0.5rem;
  z-index: 99;
}
nav .navbar .menu div {
  display: inline;
  margin-left: 2rem;
}
nav .navbar .menu div a {
  padding-bottom: 0.2rem;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
  transition: 0.5s;
}
nav .navbar .menu div a span {
  letter-spacing: 0;
}
nav .navbar .menu div a:hover {
  color: #777;
  border-bottom: 1px dotted #777;
}
nav .language-switch {
  padding: 0 8rem 1.5rem;
  position: relative;
  z-index: 99;
}
nav .language-switch button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Archivo", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.33rem;
  color: #999;
  cursor: pointer;
  transition: 0.5s;
}
nav .language-switch button:first-child {
  margin-right: 1rem;
}
nav .language-switch button:hover {
  color: #000;
}

.indicator-active {
  color: #999;
}

.indicator-off {
  visibility: hidden;
}

.project-title {
  margin: 0 0 1.5rem;
  padding: 0.66rem 8rem 0;
}
.project-title .title-and-links {
  display: flex;
  align-items: baseline;
}
.project-title a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
  padding-right: 0.66rem;
  transition: 0.5s;
}
.project-title a:hover {
  color: #777;
}
.project-title a i {
  padding-right: 0.33rem;
}
.project-title p {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  padding-top: 0.33rem;
  margin-right: 1.25rem;
}
.project-title p:first-child {
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  border-bottom: 1px dotted #000;
}
.project-title p:last-child {
  color: #999;
}

.large-text-container, .headline {
  margin-top: 4rem;
  padding: 0 30%;
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
}
.large-text-container h2, .headline h2 {
  margin: 4rem 0 2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}

.headline {
  margin: 6rem 0 4rem;
}

.video-2-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 12%;
}
.video-2-container .small-video {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-2-container .small-video video {
  border: 1px solid #000;
}
.video-2-container .small-video p {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  padding-top: 0.33rem;
}

.one-image {
  margin: 0 8rem;
  border: 1px solid #333;
}
.one-image img {
  width: 100%;
  display: block;
}

.one-image-noBorder {
  margin: 0 8rem;
}
.one-image-noBorder img {
  width: 100%;
}

.one-image-variant {
  margin: 2rem 8rem 0;
  display: flex;
  justify-content: center;
}
.one-image-variant img {
  width: 80%;
}

.one-image-variant-2 {
  margin: 2rem 8rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.one-image-variant-2 img {
  border: 1px solid #333;
  width: 66%;
}

.img-border img {
  border: 1px solid #333;
}

.mato {
  margin-top: 1rem !important;
}

.two-images {
  display: flex;
  justify-content: space-between;
  margin: 0 8rem;
}
.two-images div {
  width: 48.75%;
}
.two-images div img {
  width: 100%;
  border: 1px solid #333;
}

.three-images {
  display: flex;
  align-items: flex-start;
  margin: 2rem 8rem 0;
}
.three-images img {
  width: 45%;
  margin-right: 3rem;
}
.three-images img:nth-child(2) {
  width: 22.5%;
  margin-right: 6rem;
}
.three-images img:nth-child(3) {
  width: 12.5%;
}

.three-images-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem 8rem 0;
}
.three-images-2 .element:nth-last-child(2) {
  margin-right: 1rem;
}
.three-images-2 .element:nth-child(2), .three-images-2 .element:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.three-images-2 .element img {
  display: block;
  width: 92%;
}

.four-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 12rem 6rem;
  letter-spacing: 0;
  font-family: "Archivo", sans-serif;
}
.four-images img {
  display: block;
  width: 100%;
}
.four-images div {
  width: 50%;
}
.four-images div p {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.four-images .left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.four-images .left div:first-child {
  margin-right: 1.5rem;
}
.four-images .left div:last-child {
  margin: 0 1.5rem 0;
}
.four-images .left div article:not(.four-images .left div article:first-child) {
  margin-top: 4rem;
}
.four-images .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.four-images .right div:first-child {
  margin: 0 1.5rem 0;
}
.four-images .right div:last-child {
  margin-left: 1.5rem;
}
.four-images .right div article:not(.four-images .right div article:first-child) {
  margin-top: 4rem;
}

.image-collage-1 {
  margin: 4rem 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 3rem;
  row-gap: 2rem;
}
.image-collage-1 div img {
  width: 100%;
  display: block;
  border: 1px solid #000;
}
.image-collage-1 #item-1 {
  grid-column: 1/3;
  grid-row: 1/4;
}
.image-collage-1 #item-2 {
  grid-column: 3;
  grid-row: 1/3;
}
.image-collage-1 #item-3 {
  grid-column: 4;
  grid-row: 1/3;
}
.image-collage-1 #item-4 {
  grid-column: 1/3;
  grid-row: 4/6;
}
.image-collage-1 #item-5 {
  grid-column: 3/5;
  grid-row: 3/6;
}

.caption-comment {
  margin: 0 8rem;
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  padding-top: 0.33rem;
}
.caption-comment p {
  width: 66%;
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  color: #999;
  font-family: "Archivo", sans-serif;
}
.footer p a {
  color: #999;
  transition: 0.5s;
}
.footer p a:hover {
  color: #000;
}
.footer p i {
  font-size: 1.4rem;
  margin: 0 0.2rem;
}
.footer p:nth-child(2) {
  margin-top: 1rem;
}

.back-to-top {
  position: absolute;
  top: 2rem;
  right: 8rem;
  cursor: pointer;
  transition: 0.5s;
}
.back-to-top:hover {
  opacity: 0.4;
}
.back-to-top i {
  padding: 1rem;
  margin: 0;
  color: #000;
  font-size: 0.8rem;
  padding: 0.9rem 1rem;
  border: 1px solid #333;
}

.portrait-and-bio {
  margin: 1rem 8rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.portrait-and-bio figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  margin-right: 4rem;
}
.portrait-and-bio figure img {
  width: 100%;
}
.portrait-and-bio figure figcaption {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
}

.further-projects {
  margin: 4rem 8rem 0;
}
.further-projects strong {
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.further-projects p {
  padding-top: 0.5rem;
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
}

.bio {
  width: 75%;
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
}
.bio strong {
  display: block;
  margin-bottom: 1rem;
  font-family: "Archivo", sans-serif;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 400;
}
.bio strong:last-child {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.bio p {
  display: block;
  margin-bottom: 2rem;
}
.bio .bio-item {
  display: flex;
  flex-direction: row;
}
.bio .bio-item .bio-dates {
  width: 25%;
}
.bio .bio-item .bio-contents {
  width: 75%;
}

form {
  margin: 4rem 8rem 2rem;
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
}
form .form-for-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
form .form-for-name div {
  width: 48%;
}
form .form-for-name div input {
  width: 100%;
  height: 3rem;
}
form .form-group {
  width: 100%;
  margin-bottom: 0.5rem;
}
form .form-group input {
  width: 100%;
  height: 3rem;
}
form .form-group:nth-child(3) {
  display: flex;
  flex-direction: column;
}
form .form-group textarea {
  height: 6rem;
}
form input[type=submit] {
  margin-top: 0.5rem;
}

.overview {
  margin: 2.5rem 8rem 0;
  font-family: "Archivo", sans-serif;
  font-size: 0.7rem;
}
.overview .overview-container {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 55%;
}
.overview .overview-container .container-inner {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}
.overview .overview-container .container-inner .title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #222;
  margin: 0 0 0.5rem 0;
}
.overview .overview-container .container-inner .description p {
  padding-left: 50%;
}
.overview .overview-container .container-inner .image {
  min-height: 250px;
  margin: 1rem 10% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.overview .overview-container .container-inner .image a {
  display: flex;
  justify-content: center;
}
.overview .overview-container .container-inner .image a img {
  width: 80%;
}
.overview .overview-container button {
  position: absolute;
}
.overview .overview-container button:hover {
  cursor: pointer;
}

.project-details {
  display: block;
  color: #8f8f8f;
  font-size: 0.7rem;
  line-height: 1.2;
  margin: -2rem 0 2rem;
}

.overview-toki-container {
  margin-top: 4rem;
  padding-bottom: 75%;
  position: relative;
}
.overview-toki-container .overview-toki-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.overview-toki-container .overview-toki-inner .title {
  display: inline-block;
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  letter-spacing: 1px;
  color: #222;
  margin: 0 0 0.5rem 0;
  border-bottom: 1px dotted #000;
}
.overview-toki-container .overview-toki-inner .title:hover {
  color: #333;
}
.overview-toki-container .overview-toki-inner p:not(.title) {
  font-family: "Archivo", sans-serif;
  color: #333;
  font-size: 0.7rem;
}
.overview-toki-container .overview-toki-inner p:not(.title):last-child {
  margin-bottom: 0.75rem;
}
.overview-toki-container .overview-toki-inner .description {
  width: 100%;
  padding-left: 50%;
  margin-bottom: 0.5rem;
}
.overview-toki-container .overview-toki-inner .overview-toki-images {
  width: 100%;
  display: flex;
  justify-content: center;
}
.overview-toki-container .overview-toki-inner .overview-toki-images .overview-toki-images-inner {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.overview-toki-container .overview-toki-inner .overview-toki-images .overview-toki-images-inner div {
  display: flex;
  justify-content: center;
}
.overview-toki-container .overview-toki-inner .overview-toki-images .overview-toki-images-inner div img {
  width: 80%;
  display: block;
}

.toki-images {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.toki-images .toki-images-inner {
  display: flex;
  justify-content: center;
  width: 75%;
}
.toki-images .toki-images-inner .toki-one-image {
  display: flex;
  justify-content: center;
}
.toki-images .toki-images-inner .toki-one-image img {
  width: 85%;
}

.overview-toki-container {
  padding-bottom: 67.5% !important;
}

.suda-images {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.suda-images .suda-inner {
  width: 80%;
  height: 20rem;
  position: relative;
  padding-bottom: 35%;
}
.suda-images .suda-inner .suda-left-container {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 50%;
}
.suda-images .suda-inner .suda-left-container img {
  width: 100%;
}
.suda-images .suda-inner .suda-right-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.suda-images .suda-inner .suda-right-container img {
  width: 100%;
}

.overview-suda-container {
  padding-bottom: 65% !important;
}

.client-app-images {
  margin-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.client-app-images .client-app-inner {
  width: 80%;
  height: 20rem;
  position: relative;
  padding-bottom: 35%;
}
.client-app-images .client-app-inner .client-app-left-container {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 50%;
}
.client-app-images .client-app-inner .client-app-left-container img {
  width: 100%;
}
.client-app-images .client-app-inner .client-app-right-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.client-app-images .client-app-inner .client-app-right-container img {
  width: 100%;
}
.client-app-images .client-app-inner .client-app-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.client-app-images .client-app-inner .client-app-top img {
  width: 100%;
}
.client-app-images .client-app-inner .client-app-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.client-app-images .client-app-inner .client-app-right img {
  width: 100%;
}

.anim-1-appear, .anim-1-enter {
  opacity: 0;
  transform: translateY(2rem);
}

.anim-1-appear-active, .anim-1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.anim-1-appear-done, .anim-1-enter-done {
  opacity: 1;
}

.anim-1-exit {
  opacity: 1;
}

.anim-1-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.anim-1-exit-done {
  opacity: 0;
}

.anim-2-appear, .anim-2-enter {
  opacity: 0;
}

.anim-2-appear-active, .anim-2-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in-out 350ms;
}

.anim-2-appear-done, .anim-2-enter-done {
  opacity: 1;
}

.anim-2-exit {
  opacity: 1;
}

.anim-2-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-in-out 350ms;
}

.anim-2-exit-done {
  opacity: 0;
}

.anim-3-appear, .anim-3-enter {
  opacity: 0;
}

.anim-3-appear-active, .anim-3-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in-out 700ms;
}

.anim-3-appear-done, .anim-3-enter-done {
  opacity: 1;
}

.anim-3-exit {
  opacity: 1;
}

.anim-3-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-in-out 700ms;
}

.anim-3-exit-done {
  opacity: 0;
}

.transition-toki-1-enter {
  opacity: 0;
  transform: translateY(2rem);
}

.transition-toki-1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.transition-toki-1-enter-done {
  opacity: 1;
  transform: translateY(0);
}

.transition-toki-2-enter {
  opacity: 0;
}

.transition-toki-2-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in-out 350ms;
}

.transition-toki-2-enter-done {
  opacity: 1;
}

.transition-toki-3-enter,
.transition-toki-4-enter,
.transition-toki-5-enter,
.transition-toki-6-enter {
  opacity: 0;
  transform: scale(0.95);
}

.transition-toki-3-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in-out 700ms, transform 250ms ease-in-out 700ms;
}

.transition-toki-4-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in-out 950ms, transform 250ms ease-in-out 950ms;
}

.transition-toki-5-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in-out 1200ms, transform 250ms ease-in-out 1200ms;
}

.transition-toki-6-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in-out 1450ms, transform 250ms ease-in-out 1450ms;
}

.transition-toki-3-enter-done,
.transition-toki-4-enter-done,
.transition-toki-5-enter-done,
.transition-toki-6-enter-done {
  opacity: 1;
}

.transition-toki-7-enter {
  opacity: 0;
}

.transition-toki-7-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out 950ms;
}

.transition-toki-7-enter-done {
  opacity: 1;
}

.transition-toki-8-enter {
  opacity: 0;
  transform: scale(0.95);
}

.transition-toki-8-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease-in-out 1200ms, transform 250ms ease-in-out 1200ms;
}

.transition-toki-8-enter-done {
  opacity: 1;
}

.transition-toki-9-enter {
  opacity: 0;
}

.transition-toki-9-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out 1450ms;
}

.transition-toki-9-enter-done {
  opacity: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .content-container {
    margin-top: 1.5rem;
  }
  .content-container .project-title {
    margin: 0 10% 0;
    padding: 0;
  }
  nav .navbar {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  nav .navbar .wordmark {
    font-size: 1.25rem;
  }
  nav .navbar .no-tablet {
    display: none;
  }
  nav .navbar .menu div a {
    font-size: 0.75rem;
  }
  nav .language-switch {
    margin: 0 auto;
    padding: 0 10% 1.5rem;
  }
  .section-intro {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 33%;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 4rem;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .grid-two .category-top {
    width: 100%;
  }
  .large-text-container {
    padding: 0 20%;
  }
  .four-images {
    margin: 0 10%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.65rem;
  }
  .four-images .left div:last-child {
    margin: 0 0.65rem 0;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.65rem 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.65rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
  .back-to-top {
    right: 10%;
  }
}
@media only screen and (min-width: 834px) and (max-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .content-container {
    margin-top: 1.5rem;
  }
  .content-container .project-title {
    margin: 0 10% 0;
    padding: 0;
  }
  nav .navbar {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  nav .navbar .wordmark {
    font-size: 1.25rem;
  }
  nav .navbar .no-tablet {
    display: none;
  }
  nav .navbar .menu div a {
    font-size: 0.75rem;
  }
  nav .language-switch {
    margin: 0 auto;
    padding: 0 10% 1.5rem;
  }
  .section-intro {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 33%;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 4rem;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .grid-two .category-top {
    width: 100%;
  }
  .large-text-container {
    padding: 0 20%;
  }
  .four-images {
    margin: 0 10%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.65rem;
  }
  .four-images .left div:last-child {
    margin: 0 0.65rem 0;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.65rem 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.65rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
  .back-to-top {
    right: 10%;
  }
}
@media only screen and (min-width: 810px) and (max-width: 810px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .content-container {
    margin-top: 0.5rem;
  }
  .content-container .project-title {
    margin: 0 7.5% 0;
    padding: 0.66rem 0 0 0;
  }
  .content-container .project-title a:hover {
    color: #444;
  }
  nav .navbar {
    margin: 1.5rem auto 0;
    padding: 0 7.5%;
  }
  nav .navbar .wordmark {
    font-size: unset;
  }
  nav .navbar .no-tablet {
    display: none;
  }
  nav .navbar .menu {
    margin-top: 0rem;
    display: flex;
    align-items: flex-end;
  }
  nav .navbar .menu div {
    margin-left: 1.25rem;
  }
  nav .navbar .menu div a {
    font-size: 0.75rem;
  }
  nav .navbar .menu div a:first-child {
    margin-left: 0;
  }
  nav .navbar .menu div a:hover {
    color: #000;
    border-bottom: none;
  }
  nav .language-switch {
    margin: 0 auto;
    padding: 0 7.5% 1.5rem;
  }
  nav .language-switch button:hover {
    color: #999;
  }
  .section-intro {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 0;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 4rem;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .grid-two .category-top {
    width: 100%;
  }
  .one-image {
    margin: 0 7.5%;
  }
  .one-image-noBorder {
    margin: 0 7.5%;
  }
  .one-image-variant-2 {
    margin: 2rem 7.5% 0;
  }
  .one-image-variant-2 img {
    width: 100%;
  }
  .two-images {
    margin: 0 7.5%;
  }
  .three-images {
    margin: 2rem 7.5% 0;
    justify-content: space-between;
  }
  .three-images img {
    width: 55%;
    margin-right: 0;
  }
  .three-images img:nth-child(2) {
    margin-right: 0;
    width: 24%;
  }
  .three-images img:nth-child(3) {
    width: 15%;
  }
  .three-images-2 {
    margin: 2rem 7.5%;
  }
  .large-text-container {
    padding: 0 22.5%;
  }
  .caption {
    margin: 0 7.5%;
  }
  .caption-comment {
    margin: 0 5%;
  }
  .video-2-container {
    flex-direction: column;
    align-items: center;
  }
  .image-collage-1 {
    margin: 4rem 7.5%;
    column-gap: 1rem;
  }
  .parallax-inner {
    margin: 0;
    padding: 0 7.5%;
  }
  .overview {
    margin: 0 7.5%;
  }
  .overview-group .text-container div:first-child a .title:hover {
    color: #000;
  }
  .overview-group .text-container div:last-child p:hover {
    color: #999;
  }
  .portrait-and-bio {
    margin: 1rem 7.5% 0;
  }
  .portrait-and-bio figure {
    width: 33%;
    margin-right: 2rem;
  }
  .portrait-and-bio figure img {
    width: 100%;
  }
  .further-projects {
    margin: 2rem 7.5% 0;
  }
  .bio {
    width: 66%;
    font-size: 0.85rem;
  }
  .bio .bio-item {
    font-size: 0.8rem;
  }
  form {
    margin: 2rem 7.5% 0;
  }
  .footer p a:hover {
    color: #999;
  }
  .back-to-top:hover {
    opacity: 1;
  }
  .overview2 {
    margin: 0 7.5%;
  }
  .overview-item-container:not(.overview-item-container:first-child) {
    margin-top: 4rem;
  }
  .overview-item-container:first-child {
    margin-top: 2rem;
  }
  .overview-item-container .overview-inner a p:not(.title) {
    font-size: 0.6rem;
  }
  .overview-item-container .overview-inner div a img {
    width: 85%;
  }
  .overview-item-container .overview-inner .first-image img {
    margin-bottom: 15%;
  }
  .overview-item-container .overview-inner .second-image a {
    align-items: flex-end;
  }
  .overview-item-container .overview-inner .second-image a img {
    padding-left: 0;
  }
  .overview {
    margin: 1.5rem 7.5% 0;
  }
  .overview .overview-container {
    padding-bottom: 80%;
  }
  .overview .overview-container .container-inner .image {
    margin: 1.5rem 0 0 0;
  }
  .overview .overview-container .container-inner .image img {
    width: 90%;
  }
  .four-images {
    margin: 0 7.5%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.5rem;
  }
  .four-images .left div:last-child {
    margin: 0 0.5rem 0;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.5rem 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.5rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .content-container {
    margin-top: 0.5rem;
  }
  .content-container .project-title {
    margin: 0 7.5% 0;
    padding: 0.66rem 0 0 0;
  }
  .content-container .project-title a:hover {
    color: #444;
  }
  nav .navbar {
    margin: 1.5rem auto 0;
    padding: 0 7.5%;
  }
  nav .navbar .wordmark {
    font-size: unset;
  }
  nav .navbar .no-tablet {
    display: none;
  }
  nav .navbar .menu {
    margin-top: 0rem;
    display: flex;
    align-items: flex-end;
  }
  nav .navbar .menu div {
    margin-left: 1.25rem;
  }
  nav .navbar .menu div a {
    font-size: 0.75rem;
  }
  nav .navbar .menu div a:first-child {
    margin-left: 0;
  }
  nav .navbar .menu div a:hover {
    color: #000;
    border-bottom: none;
  }
  nav .language-switch {
    margin: 0 auto;
    padding: 0 7.5% 1.5rem;
  }
  nav .language-switch button:hover {
    color: #999;
  }
  .section-intro {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 0;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 4rem;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .grid-two .category-top {
    width: 100%;
  }
  .one-image {
    margin: 0 7.5%;
  }
  .one-image-noBorder {
    margin: 0 7.5%;
  }
  .one-image-variant-2 {
    margin: 2rem 7.5% 0;
  }
  .one-image-variant-2 img {
    width: 100%;
  }
  .two-images {
    margin: 0 7.5%;
  }
  .three-images {
    margin: 2rem 7.5% 0;
    justify-content: space-between;
  }
  .three-images img {
    width: 55%;
    margin-right: 0;
  }
  .three-images img:nth-child(2) {
    margin-right: 0;
    width: 24%;
  }
  .three-images img:nth-child(3) {
    width: 15%;
  }
  .three-images-2 {
    margin: 2rem 7.5%;
  }
  .large-text-container {
    padding: 0 22.5%;
  }
  .caption {
    margin: 0 7.5%;
  }
  .caption-comment {
    margin: 0 5%;
  }
  .video-2-container {
    flex-direction: column;
    align-items: center;
  }
  .image-collage-1 {
    margin: 4rem 7.5%;
    column-gap: 1rem;
  }
  .parallax-inner {
    margin: 0;
    padding: 0 7.5%;
  }
  .overview {
    margin: 0 7.5%;
  }
  .overview-group .text-container div:first-child a .title:hover {
    color: #000;
  }
  .overview-group .text-container div:last-child p:hover {
    color: #999;
  }
  .portrait-and-bio {
    margin: 1rem 7.5% 0;
  }
  .portrait-and-bio figure {
    width: 33%;
    margin-right: 2rem;
  }
  .portrait-and-bio figure img {
    width: 100%;
  }
  .further-projects {
    margin: 2rem 7.5% 0;
  }
  .bio {
    width: 66%;
    font-size: 0.85rem;
  }
  .bio .bio-item {
    font-size: 0.8rem;
  }
  form {
    margin: 2rem 7.5% 0;
  }
  .footer p a:hover {
    color: #999;
  }
  .back-to-top:hover {
    opacity: 1;
  }
  .overview2 {
    margin: 0 7.5%;
  }
  .overview-item-container:not(.overview-item-container:first-child) {
    margin-top: 4rem;
  }
  .overview-item-container:first-child {
    margin-top: 2rem;
  }
  .overview-item-container .overview-inner a p:not(.title) {
    font-size: 0.6rem;
  }
  .overview-item-container .overview-inner div a img {
    width: 85%;
  }
  .overview-item-container .overview-inner .first-image img {
    margin-bottom: 15%;
  }
  .overview-item-container .overview-inner .second-image a {
    align-items: flex-end;
  }
  .overview-item-container .overview-inner .second-image a img {
    padding-left: 0;
  }
  .overview {
    margin: 1.5rem 7.5% 0;
  }
  .overview .overview-container {
    padding-bottom: 80%;
  }
  .overview .overview-container .container-inner .image {
    margin: 1.5rem 0 0 0;
  }
  .overview .overview-container .container-inner .image img {
    width: 90%;
  }
  .four-images {
    margin: 0 7.5%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.5rem;
  }
  .four-images .left div:last-child {
    margin: 0 0.5rem 0;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.5rem 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.5rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) {
  .content-container {
    margin-top: 0.5rem;
  }
  .content-container .project-title {
    margin: 0 7.5% 0;
    padding: 0.66rem 0 0 0;
  }
  .content-container .project-title a:hover {
    color: #444;
  }
  nav .navbar {
    margin: 1.5rem auto 0;
    padding: 0 7.5%;
  }
  nav .navbar .wordmark {
    font-size: unset;
  }
  nav .navbar .no-tablet {
    display: none;
  }
  nav .navbar .menu {
    margin-top: 0rem;
    display: flex;
    align-items: flex-end;
  }
  nav .navbar .menu div {
    margin-left: 1.25rem;
  }
  nav .navbar .menu div a {
    font-size: 0.75rem;
  }
  nav .navbar .menu div a:first-child {
    margin-left: 0;
  }
  nav .navbar .menu div a:hover {
    color: #000;
    border-bottom: none;
  }
  nav .language-switch {
    margin: 0 auto;
    padding: 0 7.5% 1.5rem;
  }
  nav .language-switch button:hover {
    color: #999;
  }
  .section-intro {
    margin: 2rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 0;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 4rem;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .grid-two .category-top {
    width: 100%;
  }
  .one-image {
    margin: 0 7.5%;
  }
  .one-image-noBorder {
    margin: 0 7.5%;
  }
  .one-image-variant-2 {
    margin: 2rem 7.5% 0;
  }
  .one-image-variant-2 img {
    width: 100%;
  }
  .two-images {
    margin: 0 7.5%;
  }
  .three-images {
    margin: 2rem 7.5% 0;
    justify-content: space-between;
  }
  .three-images img {
    width: 55%;
    margin-right: 0;
  }
  .three-images img:nth-child(2) {
    margin-right: 0;
    width: 24%;
  }
  .three-images img:nth-child(3) {
    width: 15%;
  }
  .three-images-2 {
    margin: 2rem 7.5%;
  }
  .large-text-container {
    padding: 0 22.5%;
  }
  .caption {
    margin: 0 7.5%;
  }
  .caption-comment {
    margin: 0 5%;
  }
  .video-2-container {
    flex-direction: column;
    align-items: center;
  }
  .image-collage-1 {
    margin: 4rem 7.5%;
    column-gap: 1rem;
  }
  .parallax-inner {
    margin: 0;
    padding: 0 7.5%;
  }
  .overview {
    margin: 0 7.5%;
  }
  .overview-group .text-container div:first-child a .title:hover {
    color: #000;
  }
  .overview-group .text-container div:last-child p:hover {
    color: #999;
  }
  .portrait-and-bio {
    margin: 1rem 7.5% 0;
  }
  .portrait-and-bio figure {
    width: 33%;
    margin-right: 2rem;
  }
  .portrait-and-bio figure img {
    width: 100%;
  }
  .further-projects {
    margin: 2rem 7.5% 0;
  }
  .bio {
    width: 66%;
    font-size: 0.85rem;
  }
  .bio .bio-item {
    font-size: 0.8rem;
  }
  form {
    margin: 2rem 7.5% 0;
  }
  .footer p a:hover {
    color: #999;
  }
  .back-to-top:hover {
    opacity: 1;
  }
  .overview2 {
    margin: 0 7.5%;
  }
  .overview-item-container:not(.overview-item-container:first-child) {
    margin-top: 4rem;
  }
  .overview-item-container:first-child {
    margin-top: 2rem;
  }
  .overview-item-container .overview-inner a p:not(.title) {
    font-size: 0.6rem;
  }
  .overview-item-container .overview-inner div a img {
    width: 85%;
  }
  .overview-item-container .overview-inner .first-image img {
    margin-bottom: 15%;
  }
  .overview-item-container .overview-inner .second-image a {
    align-items: flex-end;
  }
  .overview-item-container .overview-inner .second-image a img {
    padding-left: 0;
  }
  .overview {
    margin: 1.5rem 7.5% 0;
  }
  .overview .overview-container {
    padding-bottom: 80%;
  }
  .overview .overview-container .container-inner .image {
    margin: 1.5rem 0 0 0;
  }
  .overview .overview-container .container-inner .image img {
    width: 90%;
  }
  .four-images {
    margin: 0 7.5%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.5rem;
  }
  .four-images .left div:last-child {
    margin: 0 0.5rem 0;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.5rem 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.5rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 568px) {
  .overview {
    margin: 0 5%;
  }
  .content-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  nav {
    position: relative;
  }
  nav .navbar {
    flex-direction: column;
    margin: 0 auto 0;
    padding: 1rem 5% 0;
  }
  nav .navbar .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav .navbar .menu div {
    margin-left: 0;
  }
  nav .navbar .menu div a {
    font-size: 0.7rem;
    display: inline;
    padding-bottom: 0.05rem;
  }
  nav .navbar .menu div a:hover {
    color: #000;
    border-bottom: none;
  }
  nav .language-switch {
    margin: 1rem auto;
    padding: 0 5% 1rem;
  }
  nav .language-switch button:hover {
    color: #999;
  }
  .section-intro {
    margin: 3rem auto 0;
    padding: 0 10%;
  }
  .section-intro p {
    padding-right: 0;
  }
  .page {
    margin: 0 auto;
    padding: 4rem 10% 0;
  }
  .overview-group .text-container {
    flex-direction: column-reverse;
  }
  .overview-group .text-container div:first-child a:nth-child(2) p {
    padding-right: 33%;
  }
  .overview-group .text-container div:first-child a .title:hover {
    color: #000;
  }
  .overview-group .text-container div:last-child {
    justify-content: flex-start;
  }
  .overview-group .text-container div:last-child p {
    padding-left: 0.5rem;
  }
  .overview-group .text-container div:last-child p:first-child {
    padding-left: 0;
  }
  .overview-group .text-container div:last-child p:hover {
    color: #999;
  }
  .project-title {
    padding: 0 5% 0;
    margin-bottom: 0;
  }
  .project-title .title-and-links {
    flex-direction: column-reverse;
  }
  .project-title p {
    padding-top: 0.125rem;
  }
  .project-title a:hover {
    color: #444;
  }
  .project-title .project-links {
    margin-top: 0.25rem;
  }
  .large-text-container, .headline {
    padding: 0 5%;
  }
  .headline {
    margin: 0;
  }
  .headline h2 {
    margin: 2rem 0 1rem;
  }
  .large-text-container {
    margin-top: 4rem;
  }
  .large-text-container h2 {
    margin: 2rem 0 1rem;
  }
  .two-images {
    margin: 0 5%;
    flex-direction: column;
  }
  .two-images div {
    width: 100%;
  }
  .two-images div:first-child {
    margin-bottom: 1rem;
  }
  .one-image, .caption, .one-image-variant-2, .one-image-variant {
    margin: 0 5%;
  }
  .caption {
    margin-bottom: 2rem;
  }
  .one-image-variant-2 img, .one-image-variant img {
    width: 100%;
  }
  .one-image-noBorder {
    margin: 0 5%;
  }
  .caption-comment {
    margin: 0 5%;
  }
  .caption-comment p {
    width: 100%;
  }
  .video-2-container {
    flex-direction: column;
    padding: 0 5%;
  }
  .video-2-container .small-video:first-child {
    margin-top: 0;
  }
  .video-2-container .small-video video {
    width: 99%;
    height: inherit;
    overflow-x: hidden;
    border: 1px solid #000;
  }
  .image-collage-1 {
    margin: 0 5%;
    display: block;
  }
  .image-collage-1 div {
    margin-top: 1rem;
  }
  .three-images {
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .three-images img {
    width: 100%;
    margin-right: 0;
  }
  .three-images img:not(.three-images img:first-child) {
    margin-top: 2rem;
  }
  .three-images img:nth-child(2) {
    width: 80%;
    margin-right: 0;
  }
  .three-images img:nth-child(3) {
    width: 60%;
  }
  .three-images-2 {
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .three-images-2 .element {
    padding: 1rem 0.125rem;
  }
  .three-images-2 .element:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .three-images-2 .element:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 0;
  }
  .three-images-2 .element:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .three-images-2 .element img {
    width: 100%;
  }
  .grid-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-two .category-top {
    width: 100%;
  }
  .grid-two .category-top div .tools p {
    font-size: 0.8rem;
    margin-left: 0.4rem;
  }
  .footer {
    font-size: 0.6rem;
    padding: 0 25% 1rem;
  }
  .footer p a:hover {
    color: #999;
  }
  .back-to-top {
    right: 5%;
    bottom: 1rem;
  }
  .back-to-top:hover {
    opacity: 1;
  }
  .portrait-and-bio {
    margin: 1rem 5% 0;
    flex-direction: column;
  }
  .portrait-and-bio figure {
    width: 100%;
  }
  .further-projects {
    margin: 2rem 5% 0;
  }
  .bio {
    width: 100%;
    margin-top: 1rem;
  }
  .bio .bio-item {
    font-size: 0.85rem;
  }
  .bio .bio-item .bio-dates {
    width: 30%;
  }
  .bio .bio-item .bio-content {
    width: 70%;
  }
  form {
    margin: 4rem 5% 0;
  }
  form .form-for-name {
    flex-direction: column;
  }
  form .form-for-name div {
    width: 100%;
  }
  form .form-for-name div:first-child {
    margin-bottom: 1rem;
  }
  .overview2 {
    margin: 0 5%;
  }
  .overview-item-container:not(.overview-item-container:first-child) {
    margin-top: 2rem;
  }
  .overview-item-container .overview-inner a .title {
    margin: 0 auto 0.5rem;
  }
  .overview-item-container .overview-inner a p:not(.title):last-child {
    margin-bottom: 1.25rem;
  }
  .overview-item-container .overview-inner a:first-child {
    margin: 0 auto;
  }
  .overview-item-container .overview-inner .second-image {
    padding-right: 0;
  }
  .overview-item-container .overview-inner .second-image a {
    align-items: flex-end;
  }
  div .overview-item-container .overview-inner a {
    align-items: flex-start;
  }
  div .overview-item-container .overview-inner a img {
    width: 85%;
  }
  .overview-item-container .overview-inner div > div > a img {
    padding-left: 0;
  }
  .overview {
    margin: 1rem 5% 0;
  }
  .overview .overview-container {
    padding-bottom: 110%;
    margin-bottom: 2rem;
  }
  .overview .overview-container .container-inner .title {
    text-align: center;
  }
  .overview .overview-container .container-inner .description {
    display: block;
  }
  .overview .overview-container .container-inner .image {
    margin: 1rem 0 0 0;
  }
  .overview .overview-container .container-inner .image a img {
    width: 100%;
  }
  .overview-suda-container {
    padding-bottom: 105% !important;
  }
  .overview-toki-container {
    padding-bottom: 120% !important;
  }
  .toki-images .toki-images-inner {
    width: 100%;
  }
  .suda-images {
    margin-top: 2.5rem;
  }
  .suda-images .suda-inner {
    width: 100%;
  }
  .client-app-images .client-app-inner {
    width: 100%;
  }
  .four-images {
    margin: 0 5% 0;
    flex-direction: column;
  }
  .four-images div {
    width: 100%;
  }
  .four-images .left {
    margin-top: 2rem;
  }
  .four-images .left div:first-child {
    margin-right: 0.5rem;
  }
  .four-images .left div:last-child {
    margin: 0 0 0 0.5rem;
  }
  .four-images .left div article:not(.four-images .left div article:first-child) {
    margin-top: 2rem;
  }
  .four-images .right {
    margin-top: 2rem;
  }
  .four-images .right div:first-child {
    margin: 0 0.5rem 0 0;
  }
  .four-images .right div:last-child {
    margin-left: 0.5rem;
  }
  .four-images .right div article:not(.four-images .right div article:first-child) {
    margin-top: 2rem;
  }
}
@media only screen and (max-device-width: 480px) {
  nav .navbar .wordmark {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=App.css.map */
